.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: var(--page-max-width);
    font-size: var(--font-size);
    color: var(--value-color);
}

.keywordsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.input {
    padding: 8px 12px;
    border-radius: var(--def-border-radius);
    border: 1px solid var(--color-gray-dark);
    background-color: var(--bg-color);
    color: var(--value-color);
    outline: none;
    font-size: 14px;
    transition: var(--def-transition);
}

.input:focus {
    border-color: var(--color-accent);
}
